#navbar-custom {
    margin-bottom: 0px;
    background-image: url("/panel.jpg");
    background-size: cover;
    background-position-y: -20px;
    border: none;
    height: 150px;
    clear: both;
}

.navbar-custom-right {
    float: right;
    line-height: 50%;
    clear: both;
}

#sub-header {
    font-style: italic;
    font-size: 18px;
}

#header-custom {
    background: #0000008c;
    border-radius: 10px;
    color: #eef3d9b9;
    max-width: fit-content;
    height: 150px;
    padding: 10px;
    padding-right: 150px;
}

#title {
    font-size: 89px;
    line-height: 80px;
}

a { 
    color: #eef3d9b9;
    font-style: normal;
}